@using TheJudgesystem.Web.ViewModels.Defendants
@model InfoViewModel


<h1 class="text-center">
    Check what is going on with your case!
</h1>

<hr />

    @foreach (var casee in Model.Cases)
    {
<div id="test">
    <div class="row">
        <div id="Container" class="col-4 h-100 mb-3" onclick="changeColor()">
            <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3 navbar-static-top" role="navigation">
                <a class="navbar-brand" href="#">Menu</a>
                <nav class="nav nav-pills flex-column">
                    <div>
                        <a class="nav-link mt-sm-4 my-1 active" href="#item-1">Defendant</a>
                    </div>
                    <div>
                        <a class="nav-link mt-sm-4 my-1" href="#item-2">Charges</a>
                    </div>
                    <div>
                        <a class="nav-link mt-sm-4 my-1" href="#item-3">Description of defendant</a>
                    </div>
                    <div>
                        <a class="nav-link mt-sm-4 my-1" href="#item-4">Lawyer's defence</a>
                    </div>
                    <div>
                        <a class="nav-link mt-sm-4 my-1" href="#item-5">Prosecutor's decision</a>
                    </div>
                    <div>
                        <a class="nav-link mt-sm-4 my-1" href="#item-6">Indications</a>
                    </div>
                </nav>

            </nav>
        </div>
        <div class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" class="scrollspy-example-2 border border-secondary rounded text-light " tabindex="0" style="background-color: darkgray;">
                <h4 id="item-1">Defendant</h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="card-title text-center" data-toggle="tooltip" data-placement="bottom">
                            <div class="text-left">
                                <span>Firstname: @casee.DefendantFirstName</span>
                                <span>Lastname: @casee.DefendantLastName</span>
                            </div>
                        </h5>
                    </div>
                    <div class="col-md-4 w-auto p-1">
                        <img src="@casee.DefendantImageUrl"
                             class="img-fluid rounded-circle">
                    </div>
                </div>
                <hr />
                <div>
                    <h4 id="item-2">Charges</h4>
                    <p>@casee.DefendantCharges</p>
                </div>
                <hr />
                <div>
                    <h4 id="item-3">Description of defendant</h4>
                    <p>@casee.Description</p>
                </div>
                <hr />
                <div>
                    <h4 id="item-4">Lawyer's defence</h4>
                    <p>@casee.LawyerDefence</p>
                </div>
                <hr />
                <div>
                    <h4 id="item-5">Prosecutor's decision</h4>
                    <p>@casee.ProsecutorDecision</p>
                </div>
                <hr />
                <div>
                    <h4 id="item-6">Indications</h4>
                    @foreach (var indication in casee.Indications)
                    {

    <label>@indication.WitnessFirstName @indication.WitnessLastName:</label>
                        <p>@indication.Description</p>}
                </div>
            </div>
        </div>
    </div>
</div>
                <div class="m-md-3">
                    <a asp-controller="Jurymembers" asp-action="Opinion" asp-route-id="@casee.Id" class="btn btn-block btn-outline-dark">Tell your opinion</a>
                </div>}

<hr />


<div class="row justify-content-center">

    <div class="card rounded float-left" style="width: 18rem;">
        <img class="card-img-top img-fluid" src="@Model.Lawyer.ImageUrl" alt="Card image cap" style="width:18rem">
        <div class="card-body">
            <h5 class="card-title text-center" data-toggle="tooltip" data-placement="bottom">
                <span class="text-center">@Model.Lawyer.FirstName</span>
                <span class="text-center">@Model.Lawyer.LastName</span>
                @if (@Model.Lawyer.Rating != 0)
                {
                    <span class="text-center">@Model.Lawyer.Rating</span> }
                else
                {
                    <span class="text-center">Be the first one to rate!</span>
                }
                <div>
                    <label>Salary:</label>
                    <span class="text-center">@Model.Lawyer.Salary$</span>
                </div>
            </h5>
            <div class="form-group">

                <div id="CvContainer" style="display:none">
                    <div class="text-center">
                        <label class="text-black-50">Age:</label>
                        <span class="text-center">@Model.Lawyer.CV.Age</span>
                    </div>
                    <div class="text-center">
                        <label class="text-black-50">School:</label>
                        <span class="text-center">@Model.Lawyer.CV.School</span>
                    </div>
                    <div class="text-center">
                        <label class="text-black-50">Birthtown:</label>
                        <span class="text-center">@Model.Lawyer.CV.BirthTown</span>
                    </div>
                    <div class="text-center">
                        <label class="text-black-50">University:</label>
                        <span class="text-center">@Model.Lawyer.CV.University</span>
                    </div>
                    <div class="text-center">
                        <label class="text-black-50">Achivements:</label>
                        <span class="text-center">@Model.Lawyer.CV.Achievements</span>
                    </div>
                </div>

                <a id="CvButton" class="btn btn-light" onclick="ShowCv()">Show CV</a>
            </div>
        </div>
    </div>

    <div class="card rounded float-lg-right" style="width: 18rem;">
        <img src="@Model.ImageUrl" class="card-img-top img-fluid" alt="Card image cap" style="width:18rem">
        <div class="card-body">
            <h5 class="card-title text-center">Case information</h5>
            <div class="form-group">

                <div id="CaseInfoContainer" style="display:none">
                    <div class="text-center">
                        <label class="text-black-50">Lawyer:</label>
                        @if (Model.Case.LawyerId != null)
                        {
                            <span class="text-center">@Model.Case.LawyerFirstName @Model.Case.LawyerLastName</span>
                        }
                        else
                        {
                            <span class="text-center">Still not given!</span>
                        }
                    </div>
                    <div class="text-center">
                        <label class="text-black-50">Prosecutor:</label>
                        @if (Model.Case.ProsecutorId != null)
                        {
                            <span class="text-center">@Model.Case.ProsecutorFirstName @Model.Case.ProsecutorLastName</span>
                        }
                        else
                        {
                            <span class="text-center">Still not given!</span>
                        }
                    </div>
                    <div class="text-center">
                        <label class="text-black-50">Description:</label>
                        <p class="text-center">@Model.Case.Description</p>
                    </div>
                    <div class="text-center">
                        <label class="text-black-50">Date:</label>
                        @if (Model.Case.Date != null)
                        {
                            <span class="text-center">@Model.Case.Date?.ToString("dd-mmm-yyyy hh:mm")</span>
                        }
                        else
                        {
                            <span class="text-center">Still not given!</span>
                        }
                    </div>
                    <div class="text-center">
                        <label class="text-black-50">Case process:</label>
                        @if (Model.Case.IsSolved)
                        {
                            <span class="text-center">The case is solved!</span>
                        }
                        else
                        {
                            <span class="text-center">The case is still in process!</span>
                        }
                    </div>

                    @if (Model.Case.Indications.Count() > 0)
                    {
                        <div class="text-center">
                            <label class="text-black-50">Indications:</label>

                            @foreach (var indication in Model.Case.Indications)
                            {
                                @if (indication.WitnessId != null)
                                {
                                    <span class="text-center">@indication.WitnessFirstName @indication.WitnessLastName</span>
                                    <p class="text-center">
                                        @indication.Description
                                    </p>
                                }
                                else
                                {
                                    <span class="text-center">WitnessId is null!</span>
                                }
                            }

                        </div>
                    }
                    else
                    {
                        <div class="text-center">
                            <label class="text-black-50">Indications:</label>
                            <span class="text-center">Still not given!</span>
                        </div>
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.Case.JuryPronouncement))
                    {
                        <div class="text-center">
                            <label class="text-black-50">Jury pronouncement:</label>
                            <span class="text-center">@Model.Case.JuryPronouncement</span>
                        </div>
                    }
                    else
                    {
                        <div class="text-center">
                            <label class="text-black-50">Jury pronouncement:</label>
                            <span class="text-center">Still not given!</span>
                        </div>
                    }

                </div>

                <a id="CaseButton" class="btn btn-light" onclick="ShowMore()">Show more</a>
            </div>
        </div>
    </div>

</div>






@section Scripts
{
    <script>
        function ShowCv() {
            var element = document.getElementById("CvContainer");
            var button = document.getElementById("CvButton");
            if (element.style.display === "none") {
                element.style.display = "block";
                button.innerHTML = "Hide CV";
            } else {
                element.style.display = "none";
                button.innerHTML = "Show CV";
            }
        }
    </script>

    <script>
        function ShowMore() {
            var element = document.getElementById("CaseInfoContainer");
            var button = document.getElementById("CaseButton");
            if (element.style.display === "none") {
                element.style.display = "block";
                button.innerHTML = "Hide info";
            } else {
                element.style.display = "none";
                button.innerHTML = "Show more";
            }
        }
    </script>
}